.nav-item > a:hover{
    color: #198754 !important;

}

.img{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services-section{
    background-color: #fbfbfb;
}

.service-box{
    background-color: #198754;
	width: 350px;
	height: 300px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px #ccc;
    box-sizing: border-box;
}

.cta-bg-img{
    background-size: cover;
    background-position: center;
    height: 110rem;	
    position: relative;
}

.cta-overlay{
	background-color: rgba(0,100,0,0.5);
    position: absolute;
}

.cta-icon2{
    position: relative;
    bottom: 0px;
    left: -40px;
}

.cta-icon3{
    position: relative;
    bottom: 120px;
    left: 110px;
}

.cta-img{
    border-radius: 50%;
    width: 60rem;
    height: 23rem !important;
}

.cta-content{
    flex-direction: column-reverse;
}

.heading::before{
    width: 280px;
    height: 3px;
    background-color: #198754;
    display: block;
    margin-bottom: 1rem;
    content: "";
}

.tech-bg-img{
    background-size: cover;
    background-position: center;
    height: 600px;	
    position: relative;
}

.tech-overlay{
	background-color: rgba(0,0,0,0.7);
    position: absolute;
}

.carousel2-text{
    margin-left: 50px;
}

.blog-heading{
    display: inline;
}

.blog-link{
    list-style: none;
    display: inline;
    float: right;
}

.practice-section{
    background-color: #FFF8E7;
}

.footer-part{
    display: inline;
}

.footer-list{
    list-style: none;
    display: inline;
    float: right;
}

.footer-list > li{
    display: inline;
}

.footer-content > div > a:hover{
    color: #198754 !important;
}

.form-box{
    height: 55rem;
}

.about-section{
    background-image: url(./images/PHOTO-2022-04-19-18-51-43_10.jpg);
    background-size: cover;
    background-position: center;
    height: 35rem;	
    position: relative;
}

.about-overlay{
    background-color: rgba(0,100,0,0.5);
    position: absolute;
}

.headings:after{
    width: 70px;
    height: 5px;
    background-color: green;
    display: block;
    margin: auto;
    margin-top: 1rem;
    content: "";
}

.about-section3{
    flex-direction: column-reverse;
}

.kitting-page{
    background-image: url(./images/PHOTO-2022-04-19-18-51-43_1.jpg);
    background-size: cover;
    background-position: center;
    height: 35rem;	
    position: relative;
}

.kitting-overlay{
    /* background-color: rgba(240,173,78,0.7); */
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}













@media (min-width: 387px) {
    /* .cta-icon2{
        position: relative;
        bottom: 0px;
        left: -100px;
    }   */

    .cta-icon3{
        position: relative;
        bottom: 120px;
        left: 110px;
    }
}

@media (min-width: 423px) {
    .cta-icon{
        position: relative;
        left: 60px;
    }

    .cta-icon2{
        position: relative;
        left: 20px;

    }

    .cta-icon3{
        position: relative;
        bottom: 0px;
        left: -10px;
    }

    .cta-bg-img{
        height: 100rem;	
    }

    .carousel2-bg{
        height: 500px !important;
    }

    .blog-link{
        margin-left: 13rem;
    }
}

@media (min-width: 575px) {
    .carousel2-bg{
        height: 500px !important;
    }

    .blog-link{
        margin-left: 22rem;
    }

    .service-box{
        width: 550px;
        height: 300px;
    }
}

@media (min-width: 576px) {
    .cta-icon{
        position: relative;
        left: 20px;
    }

    .cta-icon2{
        position: relative;
        left: -15px;

    }

    .cta-icon3{
        position: relative;
        bottom: 0px;
        left: -45px;
    }

}

@media (min-width: 768px) {
    .carousel-img{
        height: 400px;
    } 

    .service-box{
        width: 310px;
        height: 350px;
    }
    
    .cta-img{
        border-radius: 50%;
        width: 50rem;
        height: 17rem !important;
    }

    .cta-bg-img{
        height: 75rem;	
    }

    .cta-icon2{
        position: relative;
        bottom: 0px;
        left: -30px;
    }  

    .cta-icon3{
        position: relative;
        bottom: 0px;
        left: -60px;
    }

    .cta-content{
        flex-direction: row;
    }

    .carousel2-bg{
        height: 400px !important;
    }

    .carousel2-text{
        margin-left: 90px;
    }

    .form-box{
        height: 50rem;
    }

    .about-section3{
        flex-direction: row;
    }

    
}

@media (min-width: 992px) {
    .container{
        width: 75% !important;
    }
    
    .carousel-img{
        height: 550px;
    }

    .img{
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .service-box{
        width: 310px;
        height: 350px;
    }

    .cta-img{
        border-radius: 50%;
        width: 60rem;
        height: 23rem !important;
    }

    .cta-bg-img{
        height: 73rem;	
    }

    .cta-icon2{
        position: relative;
        left: -60px;
    }

    .cta-icon3{
        position: relative;
        bottom: 0px;
        left: -105px;
    }

    .carousel2-text{
        margin-left: 120px;
    }
}
